html{
    background-color: rgb(255, 255, 255);
    padding: 12px;
    font-family: 'Courier New', Courier, monospace
}
body{
    display: flex;
    justify-content: space-around;
}
#calculator{
    background-color: rgb(123, 223, 92);
    padding: 10px;
    border: 10px;
    border-style: solid;
    border-color:  rgb(93, 193, 62);
    height: 400px;
    width: 300px;
    border-radius: 20px;
}
#display{
    display: flex;
    text-align: end;
    background-color: rgb(224, 224, 224);
    margin: 8px;
    height: 60px;
    font-size: 40px;
    padding: 12px;
    border-radius: 20px;
    line-height: 60px;
    border: 2px;
    border-style: solid;
}
#buttons{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 300px;
}

.butRow{
    display: flex;
    flex: 1;
    justify-content: space-around;
}

button{
    flex: 1;
    margin: 6px;
    border: 2px;
    border-style:solid;
    border-radius: 10px;
    background-color: aliceblue;
}
